mixin iconsvg(svgName, modificator, pres)
  svg(class!=`icon ` + `icon-${svgName}` + (modificator ? ` icon-${svgName}_${modificator}` : '') + (
    attributes.class ? ` icon-${attributes.class}` : '') preserveAspectRatio= pres ? "none" : 'xMidYMid meet')
    use(xlink:href=`assets/img/sprite.svg#${svgName}`)